<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ANTTWEAKBAR_116_OGLCORE_GLFW.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>BulletCollision.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>59</integer>
		</dict>
		<key>BulletDynamics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>60</integer>
		</dict>
		<key>BulletSoftBody.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>58</integer>
		</dict>
		<key>GLEW_1130.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>LinearMath.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>61</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>assimp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>boing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>clipboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>cursor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>empty.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>events.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>gamma.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>gears.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>glfw.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>glfwinfo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>heightmap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>iconify.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>joysticks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>misc05_picking_BulletPhysics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>misc05_picking_custom.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>misc05_picking_slow_easy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>monitors.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>msaa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>particles.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>playground.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>reopen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>sharing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>simple.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>splitview.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>tearing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>threads.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>title.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>54</integer>
		</dict>
		<key>tutorial01_first_window.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>tutorial02_red_triangle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>tutorial03_matrices.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>tutorial04_colored_cube.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>tutorial05_textured_cube.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>tutorial06_keyboard_and_mouse.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>tutorial07_model_loading.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>tutorial08_basic_shading.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>tutorial09_AssImp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>tutorial09_several_objects.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>tutorial09_vbo_indexing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>tutorial10_transparency.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>tutorial11_2d_fonts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>tutorial12_extensions.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>tutorial13_normal_mapping.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>tutorial14_render_to_texture.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>tutorial15_lightmaps.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>tutorial16_shadowmaps.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>tutorial16_shadowmaps_simple.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>tutorial17_rotations.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>tutorial18_billboards.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>tutorial18_particles.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>uninstall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>wave.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>windows.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
		<key>zlib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>56</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>11D37449A0AC4F19ACEA6ECE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1ABC042F5E254632BCE5DBBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22171E90DEF74D698C839D70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2457D0B7072547C792C30203</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>246370A62F344CADA415227C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27764695E2CB468B82B400CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27F392FCCA604C3EBD12D0C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28EBCD5DBEAB4FB798F51742</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28FDD6E0FEF84A6E86E72539</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C165F9D82C74233A3A20621</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F74A351CF41435EACB06321</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FCDD59410654A44BCB872AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30D2E90099E948A2BC3714BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>328060ADA2C8458394FFFFA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34A25204488E47D098CB42D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34EDFDE2B52849488ABCA852</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>363C481FA2054EC086052411</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A19413909364A2894E736AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BF13A264269488EA64920E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42BB2A62B2BC434D93F9109B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44D3A7A1612D43D2B001E2F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4537E6E659A44886A7FE1CA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49A7AA7C601C498B9FA6EA40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B0C22CE26594B9DBA27D2A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5036F9D3F25146EF9C9FAE28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>556D666562154262A37EAEA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55E923438A344694B080EEF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5854A1D6C63A411D89867898</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E68DFE76B5B4BD4BE0D498E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F1F96590A4640EF929458B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F7A1F844E744567B2F9ED8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60D8C8B3424249198D404A15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>626007D0194E4361B2C8EA2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6710AFC02A504E7C842B9181</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AB9B05042C04CF49F938E47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7ECBD38652C44C6DBAD1FE14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8542301ADB914085AEDB1CFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EA31272B1C644C5A66E8EBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91E154A6CF654A77980713BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98225C1E4AFD4D0AAE736096</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CFE1B6752254961A990F926</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DBF86405DF647EC895DCCDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2DF65B7491A44F19DBA14FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A382FA543B944B40B7FC686A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A468CA4F536C426A9C9092CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8A7ADD9CB1D4063961FAF85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B339B018B2AB4B4F99A854B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B95C9A45BAC5405B85A56CDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0EE51A07D254529AC787132</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C16B1666FB6F453F856BC951</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8BD84E18B54437185FCEF3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C97BE509F7AA4DB2B94C82BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA21004F0EB044FA9E9C6CFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0E18A9D1D594CCE86C52F61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4E2F661D495495FAC156EA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC22DF91789648789A86B13A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE22DDA519A145A292F32C39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA396526C1524BA984683651</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED90382CC3B94399BBD588F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F33C581D65614889A1D09AE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F42373D25DE2433FB9AB89A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC777E439A20457285D8E993</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
